* {
    margin: 0;
    padding: 0;
}

.root {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #282c44;
}

.main-content {
	width : 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   	margin: auto;
}

.name {
    color: rgb(254, 91, 119);
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    margin-bottom: 1rem;
}

.title {
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
    
}


.home-button {
	margin-top: 20px;
    background-color: rgb(108, 86, 210);
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    margin-top: 3rem;
    padding : 10px;
    text-decoration: none ;
    border-radius: 10px;
}

#projects {
	width: 70vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}

.project {
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(18, 19, 30);
	border-radius: 15px;
    text-align: center;

}

.project_name {
	color: white;
	font-family: "IBM Plex Mono";
	font-weight: 200;
}
a {
	text-decoration: none;
}