<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.19.0/core.min.js"
        integrity="sha512-t4NGjfaRaGCjmiTGBsiG3w8FCp8ZY7dPlwZAXfeoGPARUT/rt3OP0NpQkblSgZy/2R8vPTXiEcq/zcWIJ8NusQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
        </script>
		<script type="application/javascript" content-type="application/javascript charset=utf-8" charset="utf-8" src="script.js"></script>
		

		<title>Svelte app</title>
		<link rel="stylesheet" href="styles.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">


	</head>

	<body>
		<main>
			<div class="root">
				<h1 id="name">John Murphy</h1>
				<h2>I am a <div id="typewriter_div"></div></h2>
				<a href="projects/">
					<button class="project-button">Projects<button>
				</a>
				<a href="" id="github_link"></a>
			</div>

			<div style="display: none;">
				<span class="hidden_span">web developer</span>
				<span class="hidden_span">blockchain engineer</span>
				<span class="hidden_span">student</span>
			</div>
		</main>
	</body>
</html>
