* {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url("../img/landing.jpg");
	background-position: center;
	background-size: auto;
	background-color: #c0651c;
}
.root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main-content {
	display: block;
	min-height: 700px;
	text-align: center;
	padding-top: 15vh;
	padding-bottom: 1vh;
	width: 90%;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

h1,
.name {
	font-size: 3rem;
	color: #fff;
	text-align: center;
	font-family: "Outfit";
	font-weight: 300;
	/* add text shadow */
	text-shadow: 0 0 0.5rem #000;
}

h2 {
	text-align: center;
	font-size: 2rem;
	color: white;
	font-family: "Outfit";
	font-weight: 300;
	/* add text shadow */
	text-shadow: 0 0 0.5rem #000;
}

.github_link {
}

.home-button {
	width: 7rem;
	text-decoration: none;
	background: transparent;
	border: 3px solid white;
	border-radius: 15px;
	color: white;
	font-size: 1rem;
	margin-top: 0rem;
	font-family: "Outfit";
	transition: 0.5s;
	padding: 20px;
	text-align: center;
}
.home-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

#projects {
	width: 70vw;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
}

.project {
	height: 25vh;
	width: 380px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(18, 19, 30);
	border-radius: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.project_name {
	color: white;
	font-family: "IBM Plex Mono";
	font-weight: 200;
}

.project a {
	text-decoration: none;
}
