<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<title>My Projects</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="styles.css" />

		<script src="./project.js"></script>
	</head>

	<body>
		<main>
			<a id="github_link" href="">
				<img alt="github" src="../img/github.png" class="github" />
			</a>

			<div class="main-content">
				<h3><span id="name">firstName</span>'s Projects</h3>

			
				<div id="projects">
					<div id="projects">
					<div class="project">
						<a href="https://leomet07.vercel.app">
							<h2 class="project_name">portfoliossr</h2>
							<h2 class="project_name">Language: JavaScript</h2>
						</a>
					</div>

					<div class="project">
						<a href="https://stuyspecrewrite.vercel.app">
							<h2 class="project_name">stuyspec-rewrite</h2>
							<h2 class="project_name">Language: TypeScript</h2>
						</a>
					</div>

					<div class="project">
						<a href="https://freshmancaucus.herokuapp.com/">
							<h2 class="project_name">
								freshman.stuysu.org
							</h2>
							<h2 class="project_name">Language: Vue</h2>
						</a>
					</div>

					<div class="project">
						<a href="https://kinesisfrontend.vercel.app">
							<h2 class="project_name">kinesis</h2>
							<h2 class="project_name">Language: CSS</h2>
						</a>
					</div>

					<div class="project">
						<a href="https://github.com/leomet07/cc">
							<h2 class="project_name">cc</h2>
							<h2 class="project_name">Language: C++</h2>
						</a>
					</div>

					<div class="project">
						<a href="https://salvare-fullstack.web.app/">
							<h2 class="project_name">salvare</h2>
							<h2 class="project_name">Language: Python</h2>
						</a>
					</div>
				</div>
			</div>
				<a class="home-button" href="../">Home</a>
			</div>
		</main>
	</body>
</html>
