* {
    margin: 0;
    padding: 0;
}

.root {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #282c44;
}

.main-content {
    margin: 15rem 0 0 10rem;
}

.title_name {
    color: rgb(254, 91, 119);
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    margin-bottom: 1rem;
}

.title {
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    width: 100%;
    margin-bottom: 2rem;
    
}

#typewriter_div {
   width: max-content;
   display: inline-block;
}

.projects-button {
    background-color: rgb(108, 86, 210);
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
	padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
	text-decoration: none;
}

#socials{
	margin-top: 30px;
}

.logo {
    height: 40px;
}