<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<title>Svelte app</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="styles.css" />

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.19.0/core.min.js"
			integrity="sha512-t4NGjfaRaGCjmiTGBsiG3w8FCp8ZY7dPlwZAXfeoGPARUT/rt3OP0NpQkblSgZy/2R8vPTXiEcq/zcWIJ8NusQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="script.js"></script>
	</head>

	<body>
		<main>
			<div class="main-content">
				<h3>Hey there, I'm <span id="name">firstName</span></h3>

				<h1>
					I'm a passionate
					<div id="typewriter_div"></div>
				</h1>

				<h4>
					<span id="bio"
						>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam, quis
						nostrud exercitation ullamco laboris nisi ut aliquip.
					</span>
				</h4>
				<a class="projects-button" href="projects/">View Projects</a>
				<div id="socials">
					<a id="github_link" class="socials-button" href=""
						><img class="logo" src="../LinkedIn.svg.png" /></a
					>
					<a id="devpost_link" class="socials-button" href=""
						><img class="logo" src="../github.png" /></a
					>
					<a id="instagram_link" class="socials-button" href=""
						><img class="logo" src="../instagram.png" /></a
					>
					<a id="linkedin_link" class="socials-button" href=""
						><img class="logo" src="../devpost.png" /></a
					>
				</div>
			</div>

			<div id="description_tags">
				<span class="hidden_span">web developer</span>
				<span class="hidden_span">web designer</span>
			</div>
		</main>
	</body>
</html>
